@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html{
        font-family: 'Raleway', sans-serif;
    }
}

li {
    background-color: transparent !important;
}
.bg-black { 
    background-color:rgba(0,0,0,0.5);
    margin-right: 0;
    padding-right: 0px;
}

.bg-black li {
/*     background-color:rgba(0,0,0,0.5) !important; */
    padding-top: 30px;
    padding-bottom: 25px;
}

.bg-black li:hover {
/*     text-decoration: underline; */
    border-bottom: 3px solid #fff;
}
.ml-2 {
    padding-top: 10px;
}
.px-4.text-gray-500 {
    color: white;
}


.py-6 {
    color: white;
}